.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 5px;
  color: white;
}

.App-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}
